<div class="row small-12 large-12 columns small-centered"  id="container">
	
   <!--  <div class="row">	
		<a href="#/add" class="small button" id="add-songs-button">Add Songs or Albums</a>
	</div> -->

	<h2 class="page-title">View Music</h2>

	<div class="row">
		<div class="large-4 columns small-centered">
			<input ng-model="search" ng-change="settings.searching = search != ''" type="text" placeholder="Search...">
        </div>

	</div>

	<!-- <div class="row">
		<div class="large-4 columns small-centered" style="text-align:center; margin-bottom:15px">
			<button class="button secondary small" ng-click="sort('oldToNew')" style='-moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;'unselectable='on'>
            Oldest to Newest</button>
            <button class="button secondary small" ng-click="sort('newToOld')" style='-moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;'unselectable='on'>
            Newest to Oldest</button>
		</div>
	</div> -->

    <h2 id="status-message" ng-if="!settings.fetchDataSuccess">Sorry, I couldn't fetch the album data :(</h2>
        <div id="album-info-panel" ng-if="settings.selected">
                 <div class="row">
                    <div class="small-3 columns">
                        <ul class="square">
                            <li ng-repeat="track in settings.selected.tracks">
                                <a target="_blank" href="https://www.youtube.com/results?search_query={{track.trackname + ' ' + settings.selected.artist}}">{{track.trackname}}</a>
                                <i class="track-length">{{track.tracktime}}</i>
                            </li>
                        </ul>
                    </div>
                    <div class="small-9 columns">
                        <p class="review">
                            {{settings.selected.review || 'No Review'}}
                            <br>
                            <cite style="float:right;" ng-if="settings.selected.reviewer">{{settings.selected.reviewer}}</cite>
                        </p>
                    </div>
                </div>
        </div>
	<!-- Album View -->
	<div id="albums-grid" ng-show="!settings.searching && !settings.selected">
    
        <div id="{{album.id}}" ng-repeat-start="album in albums | orderBy:predicate:reverse" class="simple-album" ng-class="{faded: settings.selected && settings.selected != album}" ng-click="selectAlbum(album)">
            <img ng-src="{{album.pic}}">
            <h3>{{album.album}}</h3> <em>{{album.artist}}</em>
        </div>
        <div ng-repeat-end class="panel" id="albumInfoPanel" ng-if="settings.selected && isCorrectRow(album)" ng-repeat-end>
            
           <!--  <div class="row">
                    <div class="small-3 columns">
                        <ul class="square">
                            <li ng-repeat="track in settings.selected.tracks">
                                <a target="_blank" href="https://www.youtube.com/results?search_query={{track.trackname + ' ' + settings.selected.artist}}">{{track.trackname}}</a>
                                <i class="track-length">{{track.tracktime}}</i>
                            </li>
                        </ul>
                    </div>
                    <div class="small-9 columns">
                        <p class="review">
                            {{settings.selected.review || 'No Review'}}
                            <br>
                            <cite style="float:right;" ng-if="settings.selected.reviewer">{{settings.selected.reviewer}}</cite>
                        </p>
                    </div>
                </div> -->
        </div>
         

	</div>

   
</div>
		
	




	<div class="row album-list-item" ng-repeat="album in searchedAlbums"  ng-show="settings.searching">
		<div class="small-4 large-2 columns">
			<img ng-src="{{album.pic}}"></img>
			<span class="button tiny secondary show-for-small">Read Review</span>
		</div>
		<div class="small-8 large-3 columns" ng-cloak>
			<h2>{{album.album}}</h2><h4>{{album.artist}} — <i>{{album.year}}</i></h4>
			<p ng-repeat="track in album.tracks" ng-mouseover="revealLength()"><i>{{track.title}}</i> <small class="track-length">{{track.length}}</small></p>
		</div>
		<div class="small-6 large-7 columns hide-for-small">
			<blockquote class="review">{{album.review || 'No Review'}} <cite ng-if="album.reviewer">{{album.reviewer}}</cite>
			</blockquote>
		</div>
	</div>

<!-- 
	fade the other albums when click -->




			<!-- <a href data-dropdown="add-dropdown" class="small secondary radius button dropdown" id="add-button">Add</a>
			<ul id="add-dropdown" data-dropdown-content class="f-dropdown">
				<li><a ng-click="config.addTrack = true" href="#">Track</a></li>
				<li><a href="#">Album</a></li>
			</ul> -->

		</div>

